body {
     background-color: #A0A0A0;
}

h1 {
	font-family: 'Aldrich';
	text-align: center;
	font-size: 35px;
	color:#303030;
}

img {
	display: block;
	margin: auto;
	max-width: 341.5px;
	max-height: 341.5px; 
	height:100%;
	width: 100%;
    border-radius: 50%;
}


#Bio {
	font-family: 'Aldrich';
    text-align: center;
	color:#696969;
	font-size:28px;
}

#Resume {
    font-family: 'Aldrich';
    text-align: center;
    color:#696969;
    font-size:28px;
}

#container{
	text-align: center;
}

/* Idea Taken from Stack Overflow to style links */
a:visited{
    text-decoration: none; color:#696969;
}
a:hover{
    text-decoration: none; color:#373737;
}

a:focus{
    text-decoration: none; color:#373737
}

a:hover, a:active {
	text-decoration: none; color:#373737
}

a:link, a:visited {
	background-color:#303030;
    color:white;
    padding:14px 25px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    border-radius:4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a:hover, a:active {
	background-color:#202020;
}

/*
a:link, a:visited: {
  visited { text-decoration: none; color:#696969; }
  hover { text-decoration: none; color:#373737; }
  focus { text-decoration: none; color:#373737; }
  hover, a:active { text-decoration: none; color:#373737 }
}
*/

